.card {
    display: inline-table;
    margin: 19px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    background-color: #f2f2f2;
  }
  
  .title {
    color: black;
    padding: 19px;
    font-size: 21px;
  }

  @media all and (max-width: 768px){
    .card {
        display: inline-table;
        margin: 19px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
      }
    .mobile{
        margin-left: 19px;
    }
  }